@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  margin:0;
  padding: 0;
  
  font-family: "Roboto";
}

.empezar{
  text-align: center;
}

.container-empezar{
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-empezar h1{
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}
.boton-empezar{
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, .4);
}

.boton-empezar:hover{
  background-color: antiquewhite;
  transition: 1s;
}